body {
  color: white;
  background-color: black;
}
header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: center;
}

main {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

nav {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
}
.images {
  display: flex;
  gap: 10px;
}